<div class="overlay overlay-lg" id="about" data-aos="zoom-in">
  <img
    src="../../../assets/letters.png"
    class="letters"
    alt="Background letters decoration"
  />
</div>
<div class="containerInfo">
  <div class="presentation container">
    <img
      alt="fabian menjura"
      class="presentation__picture"
      src="../../../assets/fotogit.jpg"
      data-aos="zoom-in"
    />
    <h2
      class="subtitle"
      data-aos="fade-up"
      data-aos-anchor-placement="bottom-bottom"
    >
      --Fabian Menjura--
    </h2>
    <hr data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" />
    <p
      class="presentation__copy"
      data-aos="fade-zoom-in"
      data-aos-easing="ease-in-back"
      data-aos-offset="0"
    >
      > Estudiante de ingeniería de sistemas últimos semestres enfocado en el
      desarrollo de software, poseo conocimientos y experiencia en la web,
      interesado en la programaciòn de mucho tiempo. Poco mas de un año comencé
      a poner en practica lo aprendido e desarrollado varias SPA y un E-comerse
      con 7 compañeros de diferentes países, continuo afianzando mis
      conocimientos en nuevos marcos de trabajo donde espero poder hacer muy
      buenas aplicaciones. Soy una persona proactiva apasionado por el
      aprendizaje continuo y la amplificación de competencias personales, me
      encuentro en busqueda de proyectos donde pueda colaborar y poner en
      practica mis conocimientos me especializo en construir excepcionales
      experiencias digitales que viven en la web, busco siempre trabajar en
      equipo, cooperando con todos y apoyando de la mejor manera posible, con
      grande satisfacción de enseñar, aprender y dar lo mejor de mí para
      ustedes.
    </p>
  </div>
  <a
    data-aos="fade-up"
    data-aos-anchor-placement="center-bottom"
    download=""
    href="../../../assets/cv/CV-Full-Stack3.pdf"
    class="presentation__cta"
    >Descargar CV</a
  >
</div>
